<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <IdMessageentity
    Name="d2910bd8-b010-4b6a-9d06-d8172721d676"
    Publisher="CN=Marko"
    Version="1.0.0.0" />

  <mp:PhoneIdMessageentity PhoneProductIdMessage="d2910bd8-b010-4b6a-9d06-d8172721d676" PhonePublisherIdMessage="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>LocationMessenger.UWP</DisplayName>
    <PublisherDisplayName>Marko</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application IdMessage="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="LocationMessenger.UWP.App">
      <uap:VisualElements
        DisplayName="LocationMessenger.UWP"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="LocationMessenger.UWP"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>